<div class="modal-header">
    <div class="modal-header">
        Buy book
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ vm.book.largeImageUrl }}" style="width: 100%; height: 100%"/>
                </div>
                <div>
                    <div class="col-md-6">
                        <table class="table table-striped table-bordered">
                            <tr>
                                <td>Author</td>
                                <td>{{ vm.book.author}}</td>
                            </tr>
                            <tr>
                                <td>Tittle</td>
                                <td>{{ vm.book.tittle}}</td>
                            </tr>
                        </table>
                        <span>Days for loan</span>
                        <input type="number" min="1" max="30" step="1" ng-model="vm.daysForLoan"><br>
                        <span>Summary cost: <b>{{ vm.daysForLoan | currency : "€"}}</b></span><br>
                        <input type="button" class="btn btn-success" ng-click="vm.loan()" value="Buy">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
